name: Run npm build

on:
  push:
    branches: ["main"]
    paths:
      - "src/**"
  pull_request:
    branches: ["main"]
    paths:
      - "src/**"
  workflow_dispatch:

jobs:
  npm-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - run: npm install
      - run: npm run build --if-present

  build:
    name: Build Dashboard frontend and push image to Quay.
    env:
      working-directory: .
    defaults:
      run:
        working-directory: ${{ env.working-directory }}/
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build DE image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: kubealex-dashboard-fe
          tags: latest
          containerfiles: ${{ env.working-directory }}/Containerfile
          context: ${{ env.working-directory }}

      - name: Push To quay.io
        id: push-x86
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: latest
          registry: quay.io/kubealex
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
